<ion-header>
  <ion-navbar color="primary">
    <ion-title *ngIf="action === 'CREATE'">New Contact</ion-title>
    <ion-title *ngIf="action === 'UPDATE'">Edit Contact</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="contactForm">

    <ion-list>
      <ion-item>
        <ion-label floating>First Name</ion-label>
        <ion-input type="text" formControlName="firstName" clearInput></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Last Name</ion-label>
        <ion-input type="text" formControlName="lastName" clearInput></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="text" formControlName="email" clearInput></ion-input>
      </ion-item>
      <ion-item id="select-country">
        <ion-label>Country</ion-label>
        <ion-select padding formControlName="country">
          <ion-option *ngFor="let country of countries"
                      [value]="country">{{ country }}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <div text-center padding>
      <button ion-button icon-start (click)="onSaveContact()">
        <ion-icon name="checkmark-circle"></ion-icon>
        Submit
      </button>
      <button *ngIf="action === 'UPDATE'" ion-button icon-start color="danger"
              (click)="onDeleteContact()">
      <ion-icon name="close-circle"></ion-icon>
      Remove
      </button>
      <button *ngIf="action === 'CREATE'" ion-button icon-start
              (click)="onCancelBtn()" class="fondo-naranja">
        <ion-icon name="return-left"></ion-icon>
        Cancel
      </button>
    </div>


  </form>

</ion-content>
