.fondo-naranja {
  background-color: orange;
}
.fondo-naranja:hover {
  background-color: orange !important;
}

#select-country > div.item-inner {
  border-bottom-style: solid;
  border-bottom-color: lightgrey;
  border-bottom-width: 1px;
  padding-bottom: 15px;
  padding-top: 15px;
}

